@model IEnumerable<Art_Gallery.Controllers.AdminControllers.ArtWorkModel>

@{
    ViewBag.Title = "Artwork Admin Page";
}
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Artwork Management</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Artworks <a href="@Url.Action("Create", "ArtworksAdmin")"><i class="fas fa-plus-circle"></i></a></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StatusName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CountAuction)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AuctionPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Discount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descriptions)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Artist.ArtistName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category.CategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CountAuction)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuctionPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Discount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    <div class="ellipsis-text">@Html.DisplayFor(modelItem => item.Descriptions)</div>
                                    
                                </td>
                                <td>
                                    <img width="50" src="~/Content/uploads/@Html.DisplayFor(modelItem => item.Image)" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                </td>
                                <td class="d-flex align-items-center justify-content-around">
                                    <a href="@Url.Action("Delete", "ArtworksAdmin", new { id = item.ArtworkId })"><i class="fas fa-trash-alt"></i></a>
                                    <a href="@Url.Action("Edit", "ArtworksAdmin", new { id = item.ArtworkId })"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>