@model IEnumerable<Art_Gallery.Models.Shipping>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActualDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimateDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActualDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimateDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShippingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShippingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShippingId })
        </td>
    </tr>
}

</table>
