@model IEnumerable<Art_Gallery.Models.Payment_gateways>

@{
    ViewBag.Title = "Payments Admin Page";
}
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Payment Management</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Payment</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Artwork Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentMethod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status.StatusName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Purcher_order.Artwork.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "PaymentsAdmin", new { id = item.PaymentId })"><i class="fas fa-trash-alt"></i></a>
                                    @if (item.StatusCode == "A")
                                    {
                                        <a class="btn btn-danger ml-1" href="@Url.Action("Create", "ShippingsAdmin", new { paymentId = item.PaymentId })">
                                            Create Shipping
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
