@model Art_Gallery.Models.Payment_gateways

@{
    ViewBag.Title = "Create Shipping Page";
}
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<main class="p-3">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Shipping</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="ActualDeliveryDate">Artwork</label>
            <div class="col-md-10">
                <input class="form-control" type="text" value="@Model.Purcher_order.Artwork.Name" readonly />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ActualDeliveryDate">Actual Delivery Date</label>
            <div class="col-md-10">
                <input class="form-control" type="date" id="ActualDeliveryDate" name="ActualDeliveryDate" required />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="EstimateDeliveryDate">Actual Delivery Date</label>
            <div class="col-md-10">
                <input class="form-control" type="date" id="EstimateDeliveryDate" name="EstimateDeliveryDate" required />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ShipperName">Shipper Name</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="ShipperName" name="ShipperName" required />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="PhoneNumberShipper">Phone Number Shipper</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="PhoneNumberShipper" name="PhoneNumberShipper" required />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="PaymentMethod">Payment Method</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="PaymentMethod" name="PaymentMethod" value="@Model.PaymentMethod" readonly />
                <span class="text-danger"></span>
            </div>
        </div>
        @Html.HiddenFor(model => model.PaymentId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index","PaymentsAdmin")
    </div>
</main>
