@model IEnumerable<Art_Gallery.Models.Shipping>

@{
    ViewBag.Title = "Shippings Admin Page";
}
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Shipping Management</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Shipping</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ActualDeliveryDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EstimateDeliveryDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipperName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumberShipper)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShippingDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Payment_gateways.PaymentMethod)
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualDeliveryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstimateDeliveryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipperName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumberShipper)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShippingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment_gateways.PaymentMethod)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "ShippingsAdmin", new { id = item.ShippingId })"><i class="fas fa-trash-alt"></i></a>
                                    <a href="@Url.Action("Edit", "ShippingsAdmin", new { id = item.ShippingId })"><i class="fas fa-edit"></i></a>
                                    @if (item.StatusCode == "A")
                                    {
                                        using (Html.BeginForm("Endding", "ShippingsAdmin", new { id = item.ShippingId }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger ml-1">Finished</button>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
