@model IEnumerable<Art_Gallery.Models.Employee>

@{
    ViewBag.Title = "Employees Admin Page";
}
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Employee Management</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employee</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Adress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Age)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sex)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sex)
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "EmployeesAdmin", new { id = item.EmployeeId })"><i class="fas fa-trash-alt"></i></a>
                                    <a href="@Url.Action("Edit", "EmployeesAdmin", new { id = item.EmployeeId })"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
