@model Art_Gallery.Controllers.ArtWork_AuctionModel

@{
    ViewBag.Title = "Auction Live Page";
}
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Auction Management</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary mb-2">Auction</h6>
                @if (Model?.Auction?.AuctionId != null)
                {
                    <h5>@Model.Auction.AuctionName</h5>
                    <p><span>Start date: @Model.Auction.StartDate</span>   <span>End date: @Model.Auction.EndDate</span></p>
                    using (Html.BeginForm("Endding", "AuctionLiveAdmin"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", Model.Auction.AuctionId)
                        <button type="submit" class="btn btn-danger ml-1">End</button>
                    }
                }
            </div>
            @if (Model?.Auction?.AuctionId != null)
            {
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Artwork Name
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        CountAuction
                                    </th>
                                    <th>
                                        AuctionPrice
                                    </th>
                                    <th>
                                        Discount
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        CreateDate
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        ArtistName
                                    </th>
                                    <th>
                                        CategoryName
                                    </th>
                                    <th>
                                        CustomerName
                                    </th>
                                    <th>
                                        EmployeeName
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Artworks)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status.StatusName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CountAuction)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AuctionPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Discount)
                                        </td>
                                        <td>
                                            <img width="50" src="~/Content/uploads/@Html.DisplayFor(modelItem => item.Image)" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
        <span class="p-3">There are no Auction</span>
            }
      </div>
    </div>
