@model Art_Gallery.Controllers.ArtworkDetailViewModel
@{
    ViewBag.Title = "Artwork Detail Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var fullName = ViewBag.FullName;
    var userName = ViewBag.UserName;
}
<main>
    <header class="page-header" data-background="~/Content/webapp/images/page-header.jpg">
        <div class="inner">
            <svg width="580" height="400" class="svg-morph">
                <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
            </svg>
            <h1>Artwork Detail</h1>

        </div>
    </header>
    <section class="content-section" style="padding: 40px 0 0 ;" data-background="#fffbf7">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 collection-detail-slide">
                    <div class="swiper collection-detail-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="~/Content/uploads/@Model.ArtworkDetail.Image" alt="Image"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 collection-detail-description">
                    <div class="art-content">
                        <p class="category-label">@Model.ArtworkDetail.Category.CategoryName</p>
                        <h6>@Model.ArtworkDetail.Name</h6>
                        <p>@Model.ArtworkDetail.Artist.ArtistName</p>
                        <p class="price">$@Model.ArtworkDetail.Price</p>
                        @if (userName == null)
                        {
                            <a href="@Url.Action("", "Login")" class="custom-button">Login to bid</a>
                        }

                        @if (@Model.isFavorit == true)
                        {
                            using (Html.BeginForm("AddFavorit", "Personal"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", Model.ArtworkDetail.ArtworkId)
                                <button type="submit" class="custom-button d-block border-0 mt-1">Add to my favorite</button>
                            }
                        }

                    </div>
                </div>
                <div class="col-12">
                    <div class="text-box">
                        <h2>Special Artwork</h2>
                        <p>
                            @Model.ArtworkDetail.Descriptions
                        </p>
                    </div>

                </div>
                @if (userName != null)
                {
                    <div class="col-12 mb-4">
                        <div class="text-box">
                            <h2>Comment</h2>
                            @using (Html.BeginForm(Html.BeginForm("Create", "ArtworkDetail")))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", Model.ArtworkDetail.ArtworkId)
                                <div class="mb-3">
                                    <textarea placeholder="Enter your comment" name="reviewMessage"></textarea>
                                </div>
                                <div class="mb-3 d-flex justify-content-center">
                                    <input type="submit" value="Send">
                                </div>
                            }
                        </div>

                    </div>
                    <div class="col-12">
                        <ul class="list-group w-100">
                            @foreach (var item in @Model.reviews)
                            {
                                <li class="list-group-item">
                                    <small>@item.Customer.CustomerName</small>
                                    <p>@item.Reviews</p>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </section>
    @if (Model.SaleArtworks != null)
    {
        <section class="content-section no-bottom-spacing bottom-white" data-background="#fffbf7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <figure><img src="~/Content/webapp/images/title-shape.png" alt="Image"></figure>
                            <h6>Artwork</h6>
                            <h2>Sale Artwork</h2>
                        </div>
                    </div>
                    <div data-scroll data-scroll-speed="1">
                        <div class="art-list">
                            <div class="swiper-wrapper">
                                @foreach (var item in Model.SaleArtworks)
                                {
                                    <div class="swiper-slide">
                                        <div class="art-box">
                                            <a href="@Url.Action("", "ArtworkDetail", new {id = item.ArtworkId})">
                                                <div class="art-img">
                                                    <img src="~/Content/uploads/@item.Image" alt="">
                                                </div>
                                                <div class="art-content">
                                                    <p class="category-label">@item.Category.CategoryName</p>
                                                    <h6>@item.Name</h6>
                                                    <p>@item.Artist.ArtistName</p>
                                                    <p class="price">@item.Price</p>
                                                    <p class="price">Status: @item.Status1.StatusName</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
</main>