@model Art_Gallery.Controllers.ArtworkDetailViewModel
@{
    ViewBag.Title = "Artwork Detail Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var fullName = ViewBag.FullName;
    var userName = ViewBag.UserName;
}
<main>
    <header class="page-header" data-background="~/Content/webapp/images/page-header.jpg">
        <div class="inner">
            <svg width="580" height="400" class="svg-morph">
                <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
            </svg>
            <h1>Artwork Detail</h1>

        </div>
    </header>
    <section class="content-section" style="padding: 40px 0 0 ;" data-background="#fffbf7">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 collection-detail-slide">
                    <div class="swiper collection-detail-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="~/Content/uploads/@Model.ArtworkDetail.Artwork.Image" alt="Image"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 collection-detail-description">
                    <div class="art-content">
                        <p class="category-label">@Model.ArtworkDetail.Category.CategoryName</p>
                        <h6>@Model.ArtworkDetail.Artwork.Name</h6>
                        <p>@Model.ArtworkDetail.Artist.ArtistName</p>
                        <p class="price">$@Model.ArtworkDetail.Artwork.Price</p>
                        @if(userName != null)
                            {
                                <a href="./@Url.Action("", "Login")" class="custom-button">Login to bid</a>
                            }
                        <button class="custom-button d-block border-0 mt-1">Add to my favorite</button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-box">
                        <h2>Special Artwork</h2>
                        <p>
                            @Model.ArtworkDetail.Artwork.Descriptions
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    @if (Model.SaleArtworks != null)
    {
        <section class="content-section no-bottom-spacing bottom-white" data-background="#fffbf7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <figure><img src="~/Content/webapp/images/title-shape.png" alt="Image"></figure>
                            <h6>Artwork</h6>
                            <h2>Sale Artwork</h2>
                        </div>
                    </div>
                    <div data-scroll data-scroll-speed="1">
                        <div class="art-list">
                            <div class="swiper-wrapper">
                                @foreach (var item in Model.SaleArtworks)
                                {
                                    <div class="swiper-slide">
                                        <div class="art-box">
                                            <a href="@Url.Action("", "ArtworkDetail", new {id = item.ArtworkId})">
                                                <div class="art-img">
                                                    <img src="~/Content/uploads/@item.Image" alt="">
                                                </div>
                                                <div class="art-content">
                                                    <p class="category-label">@item.CategoryName</p>
                                                    <h6>@item.Name</h6>
                                                    <p>@item.ArtistName</p>
                                                    <p class="price">@item.Price</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
</main>