@model Art_Gallery.Controllers.ArtWorkAuctionDetailModel
@{
    ViewBag.Title = "Auction Artwork Detail Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var fullName = ViewBag.FullName;
    var userName = ViewBag.UserName;
}
<main>
    <header class="page-header" data-background="~/Content/webapp/images/page-header.jpg">
        <div class="inner">
            <svg width="580" height="400" class="svg-morph">
                <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
            </svg>
            <h1>Auctions Artwork Detail</h1>

        </div>
        <!-- end inner -->
    </header>
    <!-- end page-header -->
    <section class="content-section" data-background="#fffbf7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="side-content left">
                        <h2>
                            @Model.ArworkAuction.Artwork.Name
                        </h2>
                        <p>
                            @Model.ArworkAuction.Artwork.Descriptions
                        </p>
                        <table>
                            <tr>
                                <td>START</td>
                                <td>
                                    : @Model.ArworkAuction.Auction.StartDate
                                </td>
                            </tr>
                            <tr>
                                <td>END </td>
                                <td>: @Model.ArworkAuction.Auction.EndDate </td>
                            </tr>
                            <tr>
                                <td>EVENT CATEGORY </td>
                                <td>: @Model.ArworkAuction.Category.CategoryName</td>
                            </tr>
                            <tr>
                                <td>AUTHOR NAME </td>
                                <td>: @Model.ArworkAuction.Artist.ArtistName</td>
                            </tr>
                        </table>
                    </div>
                    <!-- end side-content -->
                    <!-- Hiển thị khi vào sản phẩm đang đấu giá -->

                    @{
                        var minPrice = Model.ArworkAuction.Artwork.AuctionPrice != null ? Model.ArworkAuction.Artwork.AuctionPrice : Model.ArworkAuction.Artwork.Price;
                    }
                    @if (Model.ArworkAuction.Auction != null && Model.ArworkAuction.Auction.StatusCode.Equals("L"))
                    {
                        <div class="side-icon-list mb-3">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <figure> <img src="~/Content/webapp/images/icon01.png" alt="Image"> </figure>
                                    <div class="content">
                                        <div id="countdown"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="side-content left">
                            <table>
                                <tr>
                                    <td>Start Price</td>
                                    <td>: @Model.ArworkAuction.Artwork.Price</td>
                                </tr>
                                <tr>
                                    <td>Current Price</td>
                                    <td>: @Model.ArworkAuction.Artwork.AuctionPrice</td>
                                </tr>
                                <tr>
                                    <td>Current Count</td>
                                    <td>: @Model.ArworkAuction.Artwork.CountAuction</td>
                                </tr>
                            </table>
                        </div>

                        if ((userName != null) && @Model.Request == null && @ViewBag.isAdmin == false)
                        {

                            using (Html.BeginForm(Html.BeginForm("Create", "AuctionArtworkDetail", FormMethod.Post, new { enctype = "multipart/form-data" })))
                            {
                                <label>Please enter your price</label>
                                <input name="artworkId" value="@Model.ArworkAuction.Artwork.ArtworkId" hidden />
                                <input type="number" id="priceAuction" name="priceAuction" class="form-control" style="width: 200px" min="@minPrice" />
                                <button type="submit" id="submitBtn" class="custom-button d-block border-0 mt-2" disabled>Auction</button>
                            }
                        }
                    }
                    @if (userName == null)
                    {
                        <a href="@Url.Action("", "Login")" class="custom-button mt-1">Login to bid</a>
                    }

                </div>
                <div class="col-lg-6">
                    <div class="side-image right-half" data-scroll data-scroll-speed="1">
                        <img src="~/Content/uploads/@Model.ArworkAuction.Artwork.Image" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/webapp/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var startTime = new Date('@Model.ArworkAuction.Auction.StartDate').getTime();
            var endTime = new Date('@Model.ArworkAuction.Auction.EndDate').getTime();

            // Cập nhật đồng hồ đếm ngược mỗi giây
            var countdownInterval = setInterval(function () {
                // Lấy thời gian hiện tại
                var currentTime = new Date().getTime();

                // Tính thời gian còn lại
                var timeLeft = endTime - currentTime;

                // Tính toán giờ, phút, giây
                var hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

                // Hiển thị đếm ngược trên trang web
                $('#countdown').text(hours + ' hour ' + minutes + ' minus ' + seconds + ' second');

                // Kiểm tra nếu thời gian đã hết
                if (timeLeft < 0) {
                    clearInterval(countdownInterval);
                    $('#countdown').text('The countdown has ended');
                }
            }, 1000);

        });

    </script>
    <script>
        const priceInput = document.getElementById('priceAuction');
        const submitButton = document.getElementById('submitBtn');

        priceInput.addEventListener('input', function () {
            const price = parseFloat(this.value);
            const minPrice = parseFloat(this.min);

            if (isNaN(price) || price < minPrice) {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        });
    </script>
</main>