
@model List<Art_Gallery.Controllers.AuctionsController.ArtWorks_AuctionModel>
@{
    ViewBag.Title = "Auctions Page";
}

<main>
    <header class="page-header" data-background="./Content/webapp/images/page-header.jpg">
        <div class="inner">
            <svg width="580" height="400" class="svg-morph">
                <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
            </svg>
            <h1>autions</h1>

        </div>
        <!-- end inner -->
    </header>
    <!-- end page-header -->
    <section class="content-section" data-background="#fffbf7">
        @foreach (var item in Model)
        {
            <div class="container pl-2 pr-2 border mb-5">
                <div class="p-2">
                    <h4 class="fm-cinzel"><a href="@Url.Action("", "AuctionArtwork", new { id = @item.Auction.AuctionId })">@item.Auction.AuctionName</a></h4>
                </div>
                <div class="d-flex justify-content-around p-2 border-top border-bottom">
                    <div class="text-center">
                        <p class="opacity-70">Start Date</p>
                        <p class="fz-20">@item.Auction.StartDate</p>
                    </div>
                    <div class="text-center">
                        <p class="opacity-70">End Date</p>
                        <p class="fz-20">@item.Auction.EndDate</p>
                    </div>
                    <div class="text-center">
                        <p class="opacity-70">Quantity Artwork</p>
                        <p class="fz-20">
                            @item.ArtworksAll.Count
                        </p>
                    </div>
                </div>
                <div class="pl-2 pr-2 pt-5 pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            @foreach (var artwork in item.Artworks)
                            {
                                <div class="col-lg-4 col-md-6 d-flex align-items-center">
                                    <div class="aution-box">
                                        <figure>
                                            <a href="@Url.Action("", "AuctionArtworkDetail", new { id = artwork.ArtworkId })"><img src="~/Content/uploads/@artwork.Image" alt="Image"></a>
                                        </figure>
                                        <div class="content-box">
                                            <h4>
                                                <a href="@Url.Action("", "AuctionArtworkDetail", new { id = artwork.ArtworkId })">
                                                    @artwork.Name
                                                </a>
                                            </h4>
                                            <p>Price: @artwork.Price </p>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</main>